# Variables & Data Types :

## Variables & Operators

 Python Variable is container that store values. Python is not "statically typed". We do not need to declare variables before using them to declare thier type. A variable is created the moment we first assign a value to it. A python variable is a name given to a memory location. it is the Basic unit of Storage in a program.

### Variable Names :

A variable name can have a short name (like x and y) or more descriptive name (age , carname, total_volume). Rules for python variables:
- A variable name must start with a letter or underscore character.
- A variable name cannot start with a number.
- A variable name can only contain alpha-numeric characters and underscores.
- Variable names are case sensitive.
- A variable name cannot be any of the python keyword.

### Creating variables :
Python has no command for declaring a variable.

A variable is created the moment you assign a value to it.

Example x = 5 , 
y = "john" ,
print(x) , 
print(y) ,

In [14]:
x = 5
y = "Navdeep"
print(x)
print(y)

5
Navdeep

In [9]:
# Many values to multiple variables
# - Python allows you to assign values to multiple variables in one line

x , y , z = "Orange" , "Red" , "Yellow"
print(x)
print(y)
print(z)

Orange
Red
Yellow

### Python Output Variables

In [12]:
x = "Python"
y = "is"
z = "amazing"
print(x , y , z)
print()
print(x)
print(y)
print(z)

Python is amazing

Python
is
amazing

### Data Types :
Variables can store of diffrent types , and diffrent types can do diffrent. Python has the following data types built in by default , in these categories: 
- Text type : str
- Numeric types : int , float , complex
- Sequence Types : list , tuple , range
- Mapping Type : dict
- Set Types : set , frozenset
- Boolean Type : bool
- Binary Trees : bytes , bytearray , memoryview

## Data Types :

In [20]:
x = 2 
print(x)
print(type(x))

2
<class 'int'>

In [22]:
y = 4.5
print(y)
print(type(y))

4.5
<class 'float'>

In [24]:
z = "Navdeep"
print(z)
print(type(z))

Navdeep
<class 'str'>

In [26]:
a = 2 + 5j
print(a)
print(type(a))

(2+5j)
<class 'complex'>

In [28]:
b = (1,2,3,4,5,6,7,8,9)
print(b)
print(type(b))

(1, 2, 3, 4, 5, 6, 7, 8, 9)
<class 'tuple'>

In [ ]:
c = [1,2,3,4,5,6]
print(c)
print(type(c))

In [34]:
%whos

Variable               Type        Data/Info
--------------------------------------------
a                      complex     (2+5j)
b                      tuple       n=9
c                      list        n=6
dataframe_columns      function    <function dataframe_colum<...>ns at 0x000001FBF4BEDF80>
dataframe_hash         function    <function dataframe_hash at 0x000001FBF48667A0>
dtypes_str             function    <function dtypes_str at 0x000001FBF4866DE0>
get_dataframes         function    <function get_dataframes at 0x000001FBF7EEE520>
getpass                module      <module 'getpass' from 'C<...>conda3\\Lib\\getpass.py'>
hashlib                module      <module 'hashlib' from 'C<...>conda3\\Lib\\hashlib.py'>
import_pandas_safely   function    <function import_pandas_s<...>ly at 0x000001FBF4BEE020>
is_data_frame          function    <function is_data_frame at 0x000001FBF4BED620>
json                   module      <module 'json' from 'C:\\<...>\Lib\\json\\__init__.py'>
x                      int         2
y                      float       4.5
z                      str         Navdeep

## Operators :

In Python programming , Operators in general are used to perform operations on values and variables. These are standard symbols used for the purpose of logical and arithmetic operations. In this article , we will look into diffrent tyoes of python operators.

##### Operators :
- These are the special symbols. Eg + , - , * , / etc

##### Operand : 
- It is the value on which the operator is applied.

In [58]:
a = 5 
b = 3
print(a + b)
print(a - b)

8
2

In [62]:
a = 5 
b = 6.6
print(a + b)
print(a - b)

11.6
-1.5999999999999996

In [64]:
a = 5 + 3j 
b = 6.6
print(a + b)
print(a - b)

(11.6+3j)
(-1.5999999999999996+3j)

In [56]:
a = "Hello"
b = "Students"
print(a + " " + b)

Hello Students

In [68]:
a = 5.565
b = 3.545
print(a * b)

19.727925000000003

In [70]:
a = 10
b = 4.5
print(a/b)

2.2222222222222223

In [72]:
# Modulus - Use to find remainder
a = 5
b = 3
print(a % b)

2

In [76]:
# Exponent
a = 41234556
print(a ** 55)

69083247070676246965500655442602588470386177944426861709386039054717896971369876648517132858215378299858014929473544423284049202339162111736380854340866738919676249319818079392820353171374562629404429382608906981898859455962665682393515881553468597235990186407116434227157816621513558091877778415087118588846075245258184846877923014813533952615015696312778888440457141216346690955013061428989213468367950955923715915776

In [82]:
a = ((345) * (4543)) + (44.45 / 3532.42) * 541
print(a)

1567341.8076417868

In [84]:
a = True
b = False
print(a and b)

False

In [86]:
a = True
b = False
print(a or b)

True

In [90]:
a = True
b = False
print(not b)

True